<?xml version="1.0"?>
<launch>
  <arg name="node_name" default="pylon_camera_node" />
  <!-- <include file="$(find data_collection)/launch/velodyne.launch"/> -->
  <include file="$(find data_collection)/launch/basler.launch">
  	<arg name="device_user_id" value="cam0" />
  	<arg name="node_name" value="$(arg node_name)" />
  </include>
<!--  <include file="$(find data_collection)/launch/basler.launch">
  	<arg name="device_user_id" value="cam1" />
  	<arg name="node_name" value="pylon_camera_node1" />
  </include> -->

  <!-- <include file="$(find data_collection)/launch/azure.launch"/> -->
  <!-- <include file="$(find data_collection)/launch/mcu-imu.launch"/> OR 	<node pkg="mcu_interface" type="mcu" name="mcu" args="/dev/ttyUSB0"/> -->
  <node pkg="image_view" type="image_view" name="image_view" args="image:=/$(arg node_name)/image_raw _image_transport:=theora" />
</launch>
