<?xml version="1.0"?>
<launch>
  
  <!-- Arguments -->
  <arg name="pylon_node_name0" default="pylon_camera_node0" />
  <arg name="pylon_node_name1" default="pylon_camera_node1" />

  
  <!-- Static tranformations: https://wiki.ros.org/tf2_ros -->
  <!-- Static transformers using [dx dy dz, qx,qy,qz,qw]  from the child node to the parent, so translation is the natural displacement between them-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="right_broadcaster" args="0 0.35 0 5e-01 -0.5 0.5 -0.5 base_link pylon_camera" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="smartphone_broadcaster" args="0.0056 0.2444 -0.0385 
                                                       -0.49411104  0.49294007 -0.50634214  0.50644051   base_link smart_camera" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne_broadcaster" args="0 0 0 0 0 0  base_link velodyne" />
  <!-- from azure_ros_driver/src/calibration_transform_data.cpp, dz = 1.8mm, and 6 deg in y-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="azure_broadcaster" args="0.0604737 0.468 -0.0698129 -0.00171875 -0.00747261 -0.03616567  0.99931639  base_link azure_camera_base" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="mcu_imu_broadcaster" args="-0.1 0.4 0 0 0 0  base_link mcu_imu" />
  
  <!-- Velodyne lidar-->
  <group ns="velodyne">
      <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
  </group>
  
  <!-- Basler cameras-->
  <!--
  <group ns="basler">
  <include file="$(find data_collection)/launch/basler.launch">
  	<arg name="device_user_id" value="cam0" />
  	<arg name="node_name" value="$(arg pylon_node_name0)" />
  </include>
  </group>
  -->
  <!--
  <include file="$(find data_collection)/launch/basler.launch">
  	<arg name="device_user_id" value="cam1" />
  	<arg name="node_name" value="$(arg pylon_node_name1)" />
  </include>
  -->

  <!-- Azure camera-->
  <group ns="azure">
  <include file="$(find data_collection)/launch/azure.launch" >
    <arg name="fps" value="5" />
    <arg name="wired_sync_mode" value="2"/>
    <arg name="tf_prefix" value="azure_"/>
  </include>
  </group>


  <!-- MCU and IMU-->
  <node pkg="mcu_interface" type="mcu" name="mcu" args="/dev/ttyUSB0"/>
  
  <!-- For debugging -->
<!--  
  <node pkg="image_view" type="image_view" name="$(arg pylon_node_name0)_image_view" args="image:=/$(arg pylon_node_name0)/image_raw _image_transport:=theora" />
  <node pkg="image_view" type="image_view" name="$(arg pylon_node_name1)_image_view" args="image:=/$(arg pylon_node_name1)/image_raw _image_transport:=theora" />
  -->
  <!--
  <node pkg="image_view" type="image_view" name="azure_image_view" args="image:=/depth/image_raw" />
  -->

</launch>
