[submodule "serial"]
	path = serial
	url = https://github.com/wjwwood/serial.git
[submodule "dragandbot_common"]
	path = dragandbot_common
	url = https://github.com/dragandbot/dragandbot_common.git
[submodule "Azure_Kinect_ROS_Driver"]
	path = Azure_Kinect_ROS_Driver
	url = https://github.com/Marselka/Azure_Kinect_ROS_Driver
	branch = mrob-patches
