[submodule "serial"]
	path = serial
	url = https://github.com/wjwwood/serial.git
[submodule "velodyne"]
	path = velodyne
	url = https://github.com/anastasiia-kornilova/velodyne.git
	branch = mrob-patches
[submodule "pylon-ros-camera"]
	path = pylon-ros-camera
	url = https://github.com/basler/pylon-ros-camera.git
[submodule "dragandbot_common"]
	path = dragandbot_common
	url = https://github.com/dragandbot/dragandbot_common.git
[submodule "azure_kinect_ros_driver"]
	path = azure_kinect_ros_driver
	url = https://github.com/microsoft/Azure_Kinect_ROS_Driver
